<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.vastsea.toyou.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="cc.vastsea.toyou.model.entity.Order">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="uid" column="uid" jdbcType="BIGINT"/>
        <result property="subject" column="subject" jdbcType="VARCHAR"/>
        <result property="outTradeNo" column="outTradeNo" jdbcType="VARCHAR"/>
        <result property="tradeNo" column="tradeNo" jdbcType="VARCHAR"/>
        <result property="totalAmount" column="totalAmount" jdbcType="BIGINT"/>
        <result property="receiptAmount" column="receiptAmount" jdbcType="BIGINT"/>
        <result property="payPlatform" column="payPlatform" jdbcType="INTEGER"/>
        <result property="tradeStatus" column="tradeStatus" jdbcType="INTEGER"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="available" column="available" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, uid, subject, outTradeNo, tradeNo, totalAmount, receiptAmount, payPlatform, tradeStatus, createTime, updateTime, available
    </sql>
</mapper>
