<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.vastsea.toyou.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="cc.vastsea.toyou.model.entity.Permission">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="uid" column="uid" jdbcType="BIGINT"/>
        <result property="permission" column="permission" jdbcType="VARCHAR"/>
        <result property="expiry" column="expiry" jdbcType="BIGINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="available" column="available" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, uid, permission, expiry, createTime, updateTime, available
    </sql>
</mapper>
