<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.vastsea.toyou.mapper.PictureMapper">

    <resultMap id="BaseResultMap" type="cc.vastsea.toyou.model.entity.Picture">
        <id property="pid" column="pid" jdbcType="VARCHAR"/>
        <result property="original" column="original" jdbcType="VARCHAR"/>
        <result property="thumbnail" column="thumbnail" jdbcType="VARCHAR"/>
        <result property="watermark" column="watermark" jdbcType="VARCHAR"/>
        <result property="size" column="size" jdbcType="BIGINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="available" column="available" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        pid, original, thumbnail, watermark, size, createTime, updateTime, available
    </sql>
</mapper>
